version: '3.3'
services:
  compiler:
    image: node:8-jessie
    volumes:
      - ./:/var/FreeRTOS
    command:
      bash -c "cd /var/FreeRTOS && node util/generateTestFile && node benchmark"
